<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheBookwormBurrow - Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static',path='home.css') }}">
</head>
<body>
    <header>
        <h1>TheBookwormBurrow</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">My Library</a></li>
                <li><a href="#">Community</a></li>
                <li id="auth-link"><a href="/login">Sign In</a></li>
                <li id="auth-register-link"><a href="/register">Sign Up</a></li>
            </ul>
            <div id="search-bar">
                <input type="text" id="search-input" name="title" placeholder="Search books...">
                <button type="submit" id="search-button">Search</button>
            </div>
        </nav>
    </header>

    <main>   
        <!-- Main content goes here -->
        <section class="featured-books">
            <h2>Featured Books</h2>
            <div class="book-list">
                <img src="{{ url_for('static', path='images/img1.jpg') }}" width="200" height="320" alt="To Kill A Mockingbird">
                <img src="{{ url_for('static', path='images/img2.jpg') }}" width="200" height="320" alt="The Notebook">
                <img src="{{ url_for('static', path='images/img3.jpg') }}" width="200" height="320" alt="The Diary Of A Young Girl">
                <img src="{{ url_for('static', path='images/img4.jpg') }}" width="200" height="320" alt="The Silent Patient">
                <img src="{{ url_for('static', path='images/img5.jpg') }}" width="200" height="320" alt="The Midnight Library">
            </div>
        </section>
        
        <section class="latest-updates">
            <h2>Latest Updates</h2>
            <ul id="updates-list">
                <!-- Latest updates will be dynamically added here -->
            </ul>
        </section>

        <section class="search-results">
            <h2>Search Results</h2>
            <div id="results-container">
                
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 TheBookwormBurrow. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', path='home.js') }}"></script>
</body>
</html>